Université de Montréal, <a href="http://bio.umontreal.ca/">Département de Sciences Biologiques</a><br />
Pavillon Marie-Victorin, 90, avenue Vincent-d’Indy, Montréal (Québec) H2V 2S9<br />

<ul class="fa-ul">
  <li>
    <a href="https://github.com/PoisotLab/" title="GitHub"><i class="fa fa-li fa-github"></i><code>PoisotLab</code></a><br />
  </li>
  <li>
    <a href="https://twitter.com/PoisotLab/" title="Twitter"><i class="fa fa-li fa-twitter"></i><code>@PoisotLab</code></a><br />
  </li>
  <li>
    <a href="mailto:tim@poisotlab.io" title="Email (Tim)"><i class="fa fa-li fa-envelope"></i><code>tim@poisotlab.io</code></a>
  </li>
  <li>
    <a href="http://gitter.im/PoisotLab/" title="Gitter (support)"><i class="fa fa-li fa-comments"></i><code>Gitter</code></a>
  </li>
  <li>
    <a href="http://poisotlab.biol.umontreal.ca/" title="gitlab (private-ish)"><i class="fa fa-gitlab fa-li" aria-hidden="true"></i><code>poisotlab.biol.umontreal.ca</code></a>
  </li>
</ul>
