<ul class="left">
   <li><a href="/">the<strong>poisot</strong>lab</a></li>
</ul>
<ul class="right">
   <li {%if page.title == 'Research' %}class="active"{% endif %}><a href="/research/">Research</a></li>
   <li {%if page.title == 'People' %}class="active"{% endif %}><a href="/people/">People</a></li>
   <li {%if page.title == 'Papers' %}class="active"{% endif %}><a href="/papers/">Papers</a></li>
   <li {%if page.title == 'Opportunities' %}class="active"{% endif %}><a href="/opportunities/">Opportunities</a></li>
</ul>
