<div class="publication">

<div class="nine columns">{% if p.key %}<a name='{{ p.key }}'></a>{% endif %}
<h3><span class="muted">{{forloop.rindex}}</span>{{p.title}}</h3>
{% for a in p.authors %}<span class="author {{a.type}}">{{ a.name }}</span>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
</div>

<div class="labels">

  {% for lab in p.labels %}

    {% if lab.type == "pdf" %}
      <span class="label label-success">
        <i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>
        <a href="/pdf/{{lab.pdf}}" title="{{p.title}}">PDF</a>
      </span>
    {% endif %}

    {% if lab.type == "published" %}
      <span class="label label-warning">
        <i class="fa fa-book fa-fw" aria-hidden="true"></i>
        <a href="https://doi.org/{{lab.doi}}" title="{{ lab.in }}">Journal</a>
      </span>
    {% endif %}

    {% if lab.type == "published" %}
      <span class="label label-warning">
        <i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i>
        <a href="http://sci-hub.cc/{{lab.doi}}" title="{{ p.title }}">Sci-Hub</a>
      </span>
    {% endif %}

    {% if lab.type == "chapter" %}
      <span class="label label-warning">
        <i class="fa fa-bookmark fa-fw" aria-hidden="true"></i>
        <a href="{{lab.url}}" title="{{ lab.in }}">Book chapter</a>
      </span>
    {% endif %}

    {% if lab.type == "preprint" %}
      <span class="label label-warning">
        <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
        <a href="https://doi.org/{{lab.doi}}">Preprint</a>
      </span>
    {% endif %}

    {% if lab.type == "dataset" %}
      <span class="label label-warning">
        <i class="fa fa-database fa-fw" aria-hidden="true"></i>
        <a href="https://doi.org/{{lab.doi}}">Data</a>
      </span>
    {% endif %}

    {% if lab.type == "cran" %}
      <span class="label label-warning">
        <i class="fa fa-terminal fa-fw" aria-hidden="true"></i>
        <a href="https://cran.r-project.org/web/packages/{{lab.package}}">R package</a>
      </span>
    {% endif %}

    {% if lab.type == "arxiv" %}
      <a href="http://arxiv.org/abs/{{lab.arxiv}}" title="{{p.title}} on arXiv"><span class="label label-primary">arXiv</span></a>
    {% endif %}

  {% endfor %}
</div>

</div>
