<div class="row">

<div class="col-md-9">
<span class="text-muted">{{forloop.rindex}}.</span> <b>{{p.title}}</b><p />
{% for a in p.authors %}<span class="author {{a.type}}">{{ a.name }}</span>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
<br />{{ p.date }}
</div>

<div class="col-md-3">
  {% for lab in p.labels %}
  {% if lab.type == "pdf" %}<a href="/pdf/{{lab.pdf}}" title="{{p.title}}"><span class="label label-success">Full text PDF</span></a>{% endif %}
  {% if lab.type == "published" %}<a href="http://dx.doi.org/{{lab.doi}}" title="{{ lab.in }}"><span class="label label-warning">Journal version</span></a>{% endif %}
  {% if lab.type == "chapter" %}<a href="{{lab.url}}" title="{{ lab.in }}"><span class="label label-warning">Book chapter</span></a>{% endif %}
  {% if lab.type == "preprint" %}<a href="http://dx.doi.org/{{lab.doi}}"><span class="label label-info">Citable preprint</span></a>{% endif %}
  {% if lab.type == "dataset" %}<a href="http://dx.doi.org/{{lab.doi}}"><span class="label label-default">Data</span></a>{% endif %}
  {% if lab.type == "arxiv" %}<a href="http://arxiv.org/abs/{{lab.arxiv}}" title="{{p.title}} on arXiv"><span class="label label-primary">arXiv</span></a>{% endif %}
  {% endfor %}
</div>

</div>
<hr/>
