<div class="softwaredetails">
  <h3>{{p.name}} {% if p.language %}(<span class="text-muted">{{p.language}}</span>){% endif %}{% if p.reponame %}&nbsp;
  <a href="https://github.com/{{ p.org  }}/{{ p.reponame }}" target="_blank">
     <i class="fa fa-github"></i>
  </a>
  {% endif %}</h3>

  <p>{{ p.description }}
  </p>

  {% if p.available %}
  <p class="installation">
    Install with
    {% if p.language == "julia" %}<code>Pkg.add("{{ p.name }}")</code>.{% endif %}
    {% if p.language == "R" %}<code>install.packages("{{ p.name }}")</code>.{% endif %}
    {% if p.language == "python" %}<code>pip install {{ p.name }}</code>.{% endif %}
  </p>
  {% endif %}

  {% if p.url %}
  <p class="url">
    See the website at <a href="{{ p.url }}" target="_blank">{{ p.url }}</a>.
  </p>
  {% endif %}

  {% if p.services %}
  <p class="services">
    {% for s in p.services %}
      {% if s == "travis" %}
      <img src="https://img.shields.io/travis/{{ p.org }}/{{ p.reponame }}.svg" />
      {% endif %}
      {% if s == "coveralls" %}
      <img src="https://img.shields.io/coveralls/{{ p.org }}/{{ p.reponame }}.svg" />
      {% endif %}
      {% if s == "codecov" %}
      <img src="https://img.shields.io/codecov/c/github/{{ p.org }}/{{ p.reponame }}.svg" />
      {% endif %}
      {% if s == "pypi" %}
      <img src="https://img.shields.io/pypi/v/{{ p.reponame }}.svg" />
      <img src="https://img.shields.io/pypi/dm/{{ p.reponame }}.svg" />
      {% endif %}
      {% if s == "cran" %}
      <img src="http://cranlogs.r-pkg.org/badges/grand-total/{{ p.name }}" />
      <img src="http://www.r-pkg.org/badges/version/{{ p.name }}" />
      {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>
