<div class="col-md-6 software-block">
  <h3>{{p.name}} (<span class="text-muted">{{p.language}}</span>)</h3>

  <p>{{ p.description }}</p>

  {% if p.available %}
  <p class="installation">
    Install with
    {% if p.language == "julia" %}<code>Pkg.add("{{ p.name }}")</code>.{% endif %}
    {% if p.language == "R" %}<code>install.packages("{{ p.name }}")</code>.{% endif %}
    {% if p.language == "python" %}<code>pip install {{ p.name }}</code>.{% endif %}
  </p>
  {% endif %}

  {% if p.services %}
  <p class="services">
    {% for s in p.services %}
      {% if s == "travis" %}
      <img src="https://img.shields.io/travis/{{ p.org }}/{{ p.reponame }}.svg?style=flat-square" />
      {% endif %}
      {% if s == "coveralls" %}
      <img src="https://img.shields.io/codecov/c/github/{{ p.org }}/{{ p.reponame }}.svg?style=flat-square" />
      {% endif %}
      {% if s == "pypi" %}
      <img src="https://img.shields.io/pypi/v/{{ p.reponame }}.svg?style=flat-square" />
      <img src="https://img.shields.io/pypi/dm/{{ p.reponame }}.svg?style=flat-square" />
      {% endif %}
    {% endfor %}
  </p>
  {% endif %}
</div>
