.entryContent {
    &::after {
        content: "";
        display: block;
        width: 0.5em;
        border-bottom: 0.5em solid #eee;
        margin: 0px auto;
        margin-top: 1em;
        margin-bottom: 4em;
    }
    .entryIndex {
        color: #777;
    }
    .entryTitle {
        font-weight: bold;
    }
    .entryDate {
        margin-bottom: 1em;
    }
}

.scihub {
    display: none;
}

.tag {
    background-color: #efefef;
    border: 1px solid #e7e7e7;
    padding: 1px 3px;
    border-radius: 2px;
    &:hover {
        background-color: #fcfcfc;
    }
}
