<!DOCTYPE html>
<html lang="en">
<head>
{% include header.html %}
</head>
<body>

    <div class="head">
        <div class="title">
            <h2>the<b>poisot</b>lab</h2>
            <h1>Quantitative & Computational Ecology, Université de Montréal</h1>
        </div>
        {% include nav.html %}
    </div>


<div class="container main">

{{ content }}

</div>

<script type="text/javascript">
$(document).scroll(function(){
    $('.head').toggleClass('scrolled', $(this).scrollTop() > $('.head').outerHeight()-90);
    $('.head').toggleClass('unscrolled', $(this).scrollTop() <= $('.head').outerHeight()-90);
});
</script>
</body>
</html>
