@green: #54822b;
@blue: #2c6d9c;
@purple: #824085;
@black: #282828;

.highlighter-rouge {
    .highlight {
        background-color: #f8f8f8;
        font-size: 80%;
        line-height: 180%;
        padding: 20px;
        border-radius: 4px;
    }
    .s2 {
        color: @green;
    }
    .k {
        color: @blue;
    }
    .o {
        color: @purple;
    }
    .p {
        color: @black;
    }
}
