@import "/styles/colors.less";

@import url(http://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic);

.d3{
  @import "/styles/d3.less";
}

code, pre {
  font-family: "PT Mono";
}

html {
  background-image: url("/resources/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

body {
  font-family: "PT Sans";
  background: none;
  height: 100%;
}

.content {
  min-height: 100%;
  font-size: 1.1em;
  padding: 15px;
  padding-top: 80px;
  padding-bottom: 80px;
  background: rgba(254, 254, 254, 0.9);
}

.img-circle {
  float: left;
  margin: 10px;
}

.people {
  p{
    clear: both;
  }
}

.whitelink {
  color: #eee;
  text-shadow: none;
  text-transform: lowercase;
}

.navbar-default {
  background: none;
  .container, .container-fluid{
    background: #222;
  }
  box-shadow: none;
  border: none;
  .navbar-header > a, li > a {
    .whitelink !important;
  }
}
.navbar-default .navbar-nav > .active > a {
  background: #444 !important;
}

.content {
  h1 {
    padding-bottom: 0.4em;
    padding-top: 1.1em;
  }
  h1:first-child {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.pi {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #bbb;
}

.student {
  text-decoration: underline;
  text-decoration-color: #bbb;
}
