@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700,600italic,700italic,800,800italic);

@import "/styles/colors.less";

.d3{
  @import "/styles/d3.less";
}

*{
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

html, .pure-g [class *= "pure-u"]{
  font-family: "Open Sans";
}

code{
  font-family: "Oxygen Mono";
}

h1{
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: -0.8em;
  color: #555;
}

h2{
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: -0.2em;
  color: #888 !important;
}

body{
  color: #333;
  //height: calc(100%-32px);
  background: rgb(255, 255, 255);
}

.top-bar{
  z-index: 3 !important;
  background: @blue !important;
  top: 0px;
  position: fixed;
  padding: 10px 10px;
  line-height: 10px !important;
  .pure-menu-heading{
    padding: 0px 10px;
  }
  a{
    &:hover{
      color: white;
      font-weight: bold;
      background: none !important;
    }
  }
}

.left{
  float: left;
  a{
    color: white;
  }
}

.right{
  float: right;
}

.pure-menu{
  li{
    width: 8em;
    text-align: center;
    font-size: 90%;
    &.active{
      a{
        background-color: lighten(@blue, 3%);
        border-radius: 2px;
        color: white;
      }
    }
    a{
      padding: 4px 10px;
      color: white;
      text-transform: lowercase;
      font-weight: 400;
    }
  }
}

.l-content{
  padding-top: 8em;
  margin: 0em auto;
  width: 90%px;
  max-width: 1100px;
  a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ececec;
    &:hover{
      border-bottom: 1px solid @blue;
    }
  }
  z-index: 2;
  h1, h2, h3{
    color: #222;
  }
}

.mugshot{
  max-width: 90px;
  max-height: 90px;
  border-radius: 45px;
  float: left;
  border: 2px solid white;
  box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.4);
  margin-right: 1em;
  margin-bottom: 4em;
}

.landing{
  padding: 2em 2em;
  font-size: 1.2em;
  text-align: right;
}

.copy{
  p{
    line-height: 1.8em;
  }
}


.wrapper {
  margin: 0px auto -70px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.site-footer, .push {
  height: 70px;
}
.site-footer {
  background: #fcfcfc;
  font-size: 0.75em;
  color: #aeaeae;
  padding: 10px;
  a {
    color: #5e5e5e;
    text-decoration: none;
    &:hover{
      color: @blue;
    }
  }
}
