@import "/styles/colors.less";
@import "/styles/typography.less";
@import "/styles/code.less";


// Color palette
@medium: rgb(74,205,176);
@high: rgb(28,150,150);
@low: rgb(72,92,114);

* {
    box-sizing: border-box;
}


html {
  min-height: 100%;
  height: 100%;
  padding: 0 0;
  margin: 0 0;
}

body {
  background: none;
  font-family: "PT Sans";
  min-height: 100%;
  height: 100%;
  margin: 0 0;
  padding: 0 0
}

a {
  text-decoration: none;
  color: @high;
  &:hover {
    color: @low;
  }
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 10px;
  h1 {
    color: rgb(156, 156, 156);
    font-weight: 100;
    text-align: center;
    font-family: "PT Serif";
    margin-top: 90px;
    margin-bottom: 50px;
    &:first-child {
      margin-top: 0px;
    }
  }
  h2 {
    color: rgb(106, 106, 106);
    font-weight: 300;
    text-align: center;
    font-family: "PT Serif";
  }
}

.head {
  text-align: center;
  .logo {
    background-color: @high;
    border-radius: 100px;
    padding: 10px;
  }
  .title {
    h2 {
      font-family: "PT Serif";
      font-weight: 400;
      margin-bottom: 0px;
      color: black;
    }
    h1 {
      font-weight: 300;
      color: rgb(147, 147, 147);
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: "PT Sans";
    }
  }
}

.scrolled {
  box-shadow: 0px 0px 2px rgb(186, 185, 190);
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10000000;
  line-height: 4em;
  margin: 0 0 !important;
}

.navbar {
  text-align: center;
  margin: 100px auto;
  ul {
    padding: 0 0;
    margin: 0 0;
  }
  li {
    display: inline-block;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5em;
    width: 130px;
  }
  .linkContent {
    font-size: 85%;
    padding-left: 5px;
  }
}

@media screen and (max-width: 944px) {
  .navbar {
    margin: 20px auto;
    li {
      width: 1.5em;
    }
    .linkContent {
      display: none;
    }
  }
}

.people {
  img {
    border: 2px solid @low;
    border-radius: 100px;
  }
  .person {
    text-align: center;
    padding-bottom: 50px;
  }
}

.softwaredetails {
  padding-bottom: 50px;
}

.publication {
  padding-bottom: 45px;
  .muted {
    font-weight: 100;
    color: rgb(161, 161, 161);
    background-color: rgb(242, 242, 242);
    border-radius: 80px;
    text-align: center;
    width: 2em;
    font-size: 50%;
    padding: 3px;
    margin-left: 8px;
    vertical-align: middle;
    float: right;
  }
  .labels {
    padding-top: 10px;
  }
  .label {
    display: inline-block;
    background-color: rgb(238, 238, 238);
    color: rgb(135, 135, 135);
    padding: 3px;
    border-radius: 5px;
    font-size: 90%;
    margin-right: 8px;
  }
}
